<div class="container mt-4">
  <h1 class="display-4 text-center">About Me</h1>
  <p class="lead text-center">
    Hi, I'm Timothy! Software engineer with a passion for AI and automation systems development, 
    with experience in full stack engineering,
    workflow automation and a growing portfolio of machine learning, AI agents, and full stack system projects.
  <p>
    My fascination with programming began at an early age when I first discovered MIT's block based coding platform.
    This sparked a relentless curiosity to uncover the mechanics behind the blocks, leading me to dive into Java. 
    Which became my first programming language and opened a way to explore a world with immense possibilities.
  </p>
  <p>
    Now, as I have completed a degree in computer science  with a focus on software engineering at Arizona State University,
    I've not only unraveled how those blocks work but embraced the deeper principles that fuel programming. 
    Every milestone has amplified my love for problem solving, innovation, 
    and the boundless opportunities that software development offers.
  </p>
  <p>
    In addition to my academic experience, I am actively seeking opportunities to apply my skills in real world projects. 
    I have a strong foundation in languages like Java, Python, and C++, and I'm continually expanding my expertise in areas like full stack development, 
    cloud computing, and machine learning. My goal is to contribute to projects that push the envelope in solving real world challenges, whether through 
    scalable software, user centered design, or cutting edge technological solutions.
  </p>
</div>
  