<div class="container mt-4">
  <h1 class="display-4 text-center">About Me</h1>
  <p class="lead text-center">
    Hi, I'm Timothy! Software engineer with a passion for AI and automation systems development, 
    with experience in full stack engineering,
    workflow automation and a growing portfolio of machine learning projects. 
  <p>
    My fascination with programming began at an early age when I first discovered MIT's block based coding platform.
    This sparked a relentless curiosity to uncover the mechanics behind the blocks, leading me to dive into Java. 
    Which became my first programming language and opened a way to explore a world with immense possibilities.
  </p>
  <p>
    Now, as I approach the completion of my computer science degree with a focus on software engineering,
    I've not only unraveled how those blocks work but embraced the deeper principles that fuel programming. 
    Every milestone has amplified my love for problem solving, innovation, 
    and the boundless opportunities that software development offers.
  </p>
</div>
  