<div class="container mt-4">
    <h1 class="display-4 text-center">Experience</h1>
    <div class="timeline mt-4">
      <!-- Experience 1 -->
      <div class="timeline-item">
        <h3 class="timeline-title">Arizona State University | Capstone Project</h3>
        <p class="text-muted">Jan 2023 - Present | Tempe, AZ</p>
        <ul>
            <li>	
                Developed a full-stack web application that automates Capstone projects for 
                the university which streamlines operations and reducing manual workload.
            </li>
            <li>Designed and implemented a RESTful APIs that manage the frontend and backend components.</li>
            <li>Managed SQL database that provides real-time data along with efficient reporting capabilities. </li>
            <li>Analyzed feedback to inform application updates, leading to functionality improvements.</li>
            <li>Fostered a collaborative environment by mentoring team members, enhancing team skills and promoting knowledge sharing.</li>
            <li>Technologies: Next.js, TypeScript, Node.js, SQL, Taiga, Git, Docker </li>
        </ul>
      </div>
      <hr />
      
      <!-- Experience 2 -->
      <div class="timeline-item">
        <h3 class="timeline-title">Microsoft | Ranger, Education at Work</h3>
        <p class="text-muted">Dec 2022 - May 2023 | Tempe, AZ</p>
        <ul>
          <li>Supported Microsoft initiatives, providing exceptional customer service and technical assistance.</li>
          <li>Developed workflows to streamline internal processes and improve efficiency.</li>
          <li>Enhanced client satisfaction by resolving issues promptly and effectively.</li>
        </ul>
      </div>
      <hr />
      
      <!-- Experience 3 -->
      <div class="timeline-item">
        <h3 class="timeline-title">Microsoft | Frontline, Education at Work</h3>
        <p class="text-muted">Aug 2022 - Dec 2022 | Tempe, AZ</p>
        <ul>
          <li>Provided frontline customer support, representing Microsoft with professionalism.</li>
          <li>Assisted users with troubleshooting and resolving software-related issues.</li>
          <li>Collaborated with a diverse team to maintain high performance and customer satisfaction.</li>
        </ul>
      </div>
    </div>
  </div>
  