<div class="container mt-4">
    <h1 class="display-4 text-center">Experience</h1>
    <div class="timeline mt-4">
      <!-- Ecw -->
      <div class="timeline-item">
        <h3 class="timeline-title">Software Engineer | ECW Network & IT Solutions </h3>
        <p class="text-muted">June 2025 - Present | Deerfield Beach, FL</p>
        <ul>
          <li>Designed, developed, and maintained workflows using C# and the .NET framework to automate strenuous tasks. 
            Engineered and architected a full stack secure, multi-tenant uptime monitoring platform.</li>
          <li>Developed and maintained workflow automations using C# .NET framework empowering direct connection of 
            existing systems through APIs and internal systems to reduce repetitive tasks and increase efficiency.</li>
          <li>Built backend services in Go and C# (.NET) to perform ping, TCP port, and HTTPS health checks 
            with flexible outage thresholds.</li>
          <li>Developed Angular frontend with Entra ID-based authentication and role-based access controls.</li>
          <li>Utilized Azure Cosmos DB and Azure Functions for scalable data handling and automation.</li>
          <li>Technologies: C#, .NET Framework, Go, Angular, REST APIs, Azure Table Storage, Azure Functions, 
            Entra ID (Azure AD), Networking Protocols (ICMP, TCP, HTTPS)</li>
        </ul>
      </div>
      <hr />
      <!--Capstone-->
      <div class="timeline-item">
        <h3 class="timeline-title">Capstone Developer | Arizona State University </h3>
        <p class="text-muted">Jan 2025 - May 2025 | Tempe, AZ</p>
        <ul>
            <li>	
              Developed a full-stack web application using Next.js and TypeScript to automate
              administrative tasks for professors at ASU, streamlining operations and reducing manual workload.
            </li>
            <li>Designed and implemented a RESTful APIs that manage the frontend and backend components.</li>
            <li>Managed SQL database that provides real-time data along with efficient reporting capabilities. </li>
            <li>Analyzed feedback to inform application updates, leading to functionality improvements.</li>
            <li>Fostered a collaborative environment by mentoring team members, enhancing team skills and promoting knowledge sharing.</li>
            <li>Technologies: Next.js, TypeScript, Node.js, SQL, Taiga, Git, Docker </li>
        </ul>
      </div>
  </div>
  