<div class="container mt-4">
    <h1 class="display-4 text-center">My Projects</h1>
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card bg-dark">
              <div class="card-body">
                <h5 class="card-title text-white">.NET Web Form Application with WCF and RESTful Services</h5>
                <p class="card-text text-white">
                    This project is a robust web application built using ASP.NET Web Forms, seamlessly 
                    integrating both WCF (Windows Communication Foundation) and RESTful services.
                    It showcases a modern approach to creating efficient, scalable, and interoperable web solutions by 
                    leveraging the strengths of both service architectures.
                </p>
                <a href="https://github.com/yourusername/project5" target="_blank" class="btn btn-secondary">View on GitHub</a>
              </div>
            </div>
          </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card bg-dark">
              <div class="card-body">
                <h5 class="card-title text-white">Dockerized SQL Database with Python and TypeScript APIs</h5>
                <p class="card-text text-white">
                    This project is a powerful SQL database solution, containerized using Docker for efficient deployment and scalability.
                    It leverages Python and TypeScript APIs to provide seamless interaction, enabling secure and dynamic data manipulation.
                </p>
                <a href="https://github.com/timkrans/sql-test" target="_blank" class="btn btn-secondary">View on GitHub</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card bg-dark">
                <div class="card-body">
                    <h5 class="card-title text-white">Angular Web Portfolio V2</h5>
                    <p class="card-text text-white">
                        This project is a fully responsive and interactive web portfolio developed using Angular. 
                        Designed with scalability and modularity in mind, it serves as a comprehensive showcase of my skills, 
                        projects, and accomplishments while leveraging the power of Angular's component-based architecture. 
                        This is also the current website you are viewing.
                    </p>
                    <a href="https://github.com/yourusername/project5" target="_blank" class="btn btn-secondary">View on GitHub</a>
                </div>
            </div>
          </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card bg-dark">
              <div class="card-body">
                <h5 class="card-title text-white">MedicalMD</h5>
                <p class="card-text text-white">
                    MedicalMD is a healthcare management system using java and javafx to complete medical practices and improve patient experiences. 
                    This project enables patients to check in seamlessly and provides doctors with tools to prescribe medications digitally,
                    streamlining the interaction between healthcare providers and patients.
                </p>
                <a href="https://github.com/timkrans/Portfolio/tree/main/MedicalMD" target="_blank" class="btn btn-secondary">View on GitHub</a>
              </div>
            </div>
          </div>    
  
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card bg-dark">
            <div class="card-body">
                <h5 class="card-title text-white">Dijkstra's Algorithm</h5>
                <p class="card-text text-white">
                    This project focuses on implementing Dijkstra's Algorithm to solve pathfinding problems efficiently. 
                    Dijkstra's Algorithm is a classic approach used in graph theory to find the shortest path between nodes in a weighted graph. 
                    The project showcases the algorithm's ability to minimize path costs and can be applied to various scenarios, 
                    such as route planning for maps, network routing, and resource optimization.
                </p>
                <a href="https://github.com/timkrans/Portfolio/tree/main/dijkstra_algorithm" target="_blank" class="btn btn-secondary">View on GitHub</a>
            </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card bg-dark">
          <div class="card-body">
            <h5 class="card-title text-white">Sketch software</h5>
            <p class="card-text text-white">
                This project is an interactive and feature-rich sketching application developed using JavaFX. 
                The software provides users with the tools to create, edit, and 
                save hand-drawn sketches, offering an intuitive and seamless drawing experience. 
                It leverages JavaFX's robust UI capabilities to deliver smooth, responsive performance.
            </p>
            <a href="https://github.com/timkrans/Portfolio/tree/main/Sketchy" target="_blank" class="btn btn-secondary">View on GitHub</a>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 mb-4">
            <div class="card bg-dark">
                <div class="card-body">
                    <h5 class="card-title text-white">HTML5 and CSS Web Portfolio V1</h5>
                    <p class="card-text text-white">
                        This project is a visually striking and highly interactive web portfolio designed 
                        to highlight my skills,accomplishments, and projects. 
                        Built entirely with HTML and CSS, it demonstrates my ability to craft modern,
                        responsive designs that captivate visitors and deliver information effectively.
                    </p>
                    <a href="https://github.com/timkrans/timkrans.github.io" target="_blank" class="btn btn-secondary">View on GitHub</a>
                </div>
            </div>
        </div>
    </div>
  </div>
  