<div class="container mt-4">
    <h1 class="display-4 text-center">My Projects</h1>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
          <div class="card bg-dark">
              <div class="card-body">
              <h5 class="card-title text-white">Addition Machine Learning</h5>
              <p class="card-text text-white">
                  This project was me trying to grasp the math behind simple machine learning in 
                  c++ so I could see all the math behind it uses. It is an implementation of a simple 
                  neural network that learns to perform addition through supervised learning. 
              </p>
              <a href="https://github.com/timkrans/additionMachineLearning" target="_blank" class="btn btn-secondary">View on GitHub</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card bg-dark">
              <div class="card-body">
              <h5 class="card-title text-white">Cryptocurrency Price Direction Prediction</h5>
              <p class="card-text text-white">
                This project analyzes historical cryptocurrency data to predict whether the price will 
                go up or down on the next trading day. The model uses various technical indicators including 
                RSI, MACD, Bollinger Bands, and On-Balance Volume to make predictions.
              </p>
              <a href="https://github.com/timkrans/cryptoML" target="_blank" class="btn btn-secondary">View on GitHub</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card bg-dark">
              <div class="card-body">
                <h5 class="card-title text-white">Angular Web Portfolio</h5>
                <p class="card-text text-white">
                  This project is a fully responsive and interactive web portfolio developed using Angular. 
                  Designed with scalability and modularity in mind, it serves as a comprehensive showcase of my skills, 
                  projects, and accomplishments while leveraging the power of Angular's component-based architecture. 
                  This is also the current website you are viewing.
                </p>
                <a href="https://github.com/timkrans/web-portfolio" target="_blank" class="btn btn-secondary">View on GitHub</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card bg-dark">
            <div class="card-body">
              <h5 class="card-title text-white">Dockerized SQL Database with Python and TypeScript APIs</h5>
              <p class="card-text text-white">
                This project is a powerful SQL database solution, containerized using Docker for efficient deployment and scalability.
                It leverages Python and TypeScript APIs to provide seamless interaction, enabling secure and dynamic data manipulation.
              </p>
              <a href="https://github.com/timkrans/sql-test" target="_blank" class="btn btn-secondary">View on GitHub</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card bg-dark">
            <div class="card-body">
                <h5 class="card-title text-white">Dijkstra's Algorithm</h5>
                <p class="card-text text-white">
                  This project focuses on implementing Dijkstra's Algorithm to solve pathfinding problems efficiently. 
                  Dijkstra's Algorithm is a classic approach used in graph theory to find the shortest path between nodes in a weighted graph. 
                  The project showcases the algorithm's ability to minimize path costs and can be applied to various scenarios, 
                  such as route planning for maps, network routing, and resource optimization.
                </p>
                <a href="https://github.com/timkrans/Portfolio/tree/main/dijkstra_algorithm" target="_blank" class="btn btn-secondary">View on GitHub</a>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card bg-dark">
          <div class="card-body">
            <h5 class="card-title text-white">Sketch software</h5>
            <p class="card-text text-white">
                This project is an interactive and feature-rich sketching application developed using JavaFX. 
                The software provides users with the tools to create, edit, and 
                save hand-drawn sketches, offering an intuitive and seamless drawing experience. 
                It leverages JavaFX's robust UI capabilities to deliver smooth, responsive performance.
            </p>
            <a href="https://github.com/timkrans/Portfolio/tree/main/Sketchy" target="_blank" class="btn btn-secondary">View on GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  