<div class="container text-center mt-4">
    <h1 class="display-4">Welcome to My Portfolio</h1>
    <p class="lead">
      Hi, I'm Timothy — Computer Scientist/Software Engineer. Explore my work and achievements!
    </p>
  
    <!-- Call-to-Actions -->
    <div class="mt-4">
      <button routerLink="/projects" class="btn btn-dark  btn-lg mx-2">View My Projects</button>
      <button routerLink="/contact-me" class="btn btn-dark btn-lg mx-2">Contact Me</button>
    </div>
    <div class="mt-5">
      <h2>Featured Projects</h2>
      <p class="text-muted">Take a look at some of my best work.</p>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card bg-dark">
              <div class="card-body">
                <h5 class="card-title text-white">.NET Web Form Application with WCF and RESTful Services</h5>
                <p class="card-text text-white">
                    This project is a robust web application built using ASP.NET Web Forms, seamlessly 
                    integrating both WCF (Windows Communication Foundation) and RESTful services.
                    It showcases a modern approach to creating efficient, scalable, and interoperable web solutions by 
                    leveraging the strengths of both service architectures.
                </p>
                <a href="https://github.com/yourusername/project5" target="_blank" class="btn btn-secondary">View on GitHub</a>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card bg-dark">
              <div class="card-body">
                <h5 class="card-title text-white">Dockerized SQL Database with Python and TypeScript APIs</h5>
                <p class="card-text text-white">
                    This project is a powerful SQL database solution, containerized using Docker for efficient deployment and scalability.
                    It leverages Python and TypeScript APIs to provide seamless interaction, enabling secure and dynamic data manipulation.
                </p>
                <a href="https://github.com/yourusername/project5" target="_blank" class="btn btn-secondary">View on GitHub</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  