<div class="container text-center mt-4">
    <h1 class="display-4">Welcome to My Portfolio</h1>
    <p class="lead">
      Hi, I'm Timothy Computer Scientist/Software Engineer. Explore my work and achievements!
    </p>
    <!-- Call-to-Actions -->
    <div class="mt-4">
      <button routerLink="/projects" class="btn btn-dark  btn-lg mx-2">View My Projects</button>
      <button routerLink="/contact-me" class="btn btn-dark btn-lg mx-2">Contact Me</button>
    </div>
    <div class="mt-5">
      <h2>Featured Projects</h2>
      <p class="text-muted">Take a look at some of my best work.</p>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card bg-dark">
              <div class="card-body">
              <h5 class="card-title text-white">Addition Machine Learning</h5>
              <p class="card-text text-white">
                  This project was me trying to grasp the math behind simple machine learning in 
                  c++ so I could see all the math behind it uses. It is an implementation of a simple 
                  neural network that learns to perform addition through supervised learning. 
              </p>
              <a href="https://github.com/timkrans/additionMachineLearning" target="_blank" class="btn btn-secondary">View on GitHub</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card bg-dark">
              <div class="card-body">
              <h5 class="card-title text-white">Cryptocurrency Price Direction Prediction</h5>
              <p class="card-text text-white">
                This project analyzes historical cryptocurrency data to predict whether the price will 
                go up or down on the next trading day. The model uses various technical indicators including 
                RSI, MACD, Bollinger Bands, and On-Balance Volume to make predictions.
              </p>
              <a href="https://github.com/timkrans/cryptoML" target="_blank" class="btn btn-secondary">View on GitHub</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card bg-dark">
            <div class="card-body">
              <h5 class="card-title text-white">Angular Web Portfolio</h5>
              <p class="card-text text-white">
                This project is a fully responsive and interactive web portfolio developed using Angular. 
                Designed with scalability and modularity in mind, it serves as a comprehensive showcase of my skills, 
                projects, and accomplishments while leveraging the power of Angular's component-based architecture. 
                This is also the current website you are viewing.
              </p>
              <a href="https://github.com/timkrans/web-portfolio" target="_blank" class="btn btn-secondary">View on GitHub</a>
          </div>
        </div>
      </div>
      <h1 align="center">Stats</h1>
      <div align="center">
        <img src="https://github-readme-stats.vercel.app/api?username=timkrans&hide_title=false&hide_rank=false&show_icons=true&include_all_commits=true&count_private=true&disable_animations=false&theme=dark&locale=en&hide_border=false" height="150" alt="stats graph"  />
      </div>
      <h1 align="center">Top Languages</h1>
      <div align="center">
        <img src="https://github-readme-stats.vercel.app/api/top-langs?username=timkrans&locale=en&hide_title=false&layout=compact&card_width=320&langs_count=10&theme=dark&hide_border=false" height="150" alt="languages graph"  />
      </div>
    </div>
  </div>
</div>
  